@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');



body{
    background-color: #252a34;
}
.topSection{
    background-color: #eaeaea;
    border-radius: 15px;
    padding:10px;
    font-family: 'Sora', sans-serif;
    color: #252a34;
}
.bottomSection{
    background-color: #eaeaea;
    border-radius: 15px;
    padding:10px;
    font-family: 'Sora', sans-serif;
    color: #252a34;
}
.topSection>div{
    padding: 7px ;
}
.bottomSection>div{
    padding: 7px;
}
.myNav{
    background-color: #08d9d6;
}
.myNav>a{
    color: #252a34;
    font-family: 'PT Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
#tipPercent, #tipValue, #totalWithTip, #splitValue, #billEach, #tipEach{
    float: right;
}

.linkGit{
    font-family: Consolas;
    position: relative;
    color: #ff2e63;
    top: 50px;
    text-align: center;
    font-size: 3vw;
}

